*{
    padding: 0;
    margin: 0;
}

#arvore{
    padding: 3rem;
    position: relative;
    max-width: 40%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

ul{
    position: absolute;
    margin-top: 1em;
    display: inline-table;
}


ul.inicio ul.esquerda{left: -6rem; }
ul.inicio ul.direita{right: -6rem; }


ul.esquerda ul.direita
{right: -2.2rem;}

ul.direita ul.direita
{left: 2.2rem;}

ul.esquerda ul.esquerda,
ul.direita ul.esquerda
{left: -2.2rem;}


li{
    list-style: none;
    position: relative;
}

li::after{
    content: "";
    width: 2.4rem;
    height: 2px;
    position: absolute;
    background: #999;
    top: -15px;
}

ul.inicio > li::after{
    width: 0;
    height: 0;
}

ul.esquerda > li::after
{
    transform: rotate(150deg);
    left: 75%;
    top: -10px;
    width: 4.7rem;
}

ul.direita > li::after{
    transform: rotate(-150deg);
    right: 75%;
    top: -10px;
    width: 4.7rem;
}

ul.esquerda ul.esquerda > li::after,
ul.esquerda ul.direita > li::after,
ul.direita ul.esquerda > li::after,
ul.direita ul.direita > li::after
{
    width: 1.8rem;
    top: -10px;
}

ul.esquerda ul.esquerda > li::after,
ul.direita ul.esquerda > li::after
{
    transform: rotate(125deg);
    left: 60%;
}

ul.esquerda ul.direita > li::after
{
    transform: rotate(-125deg);
    right: 60%;
}

ul.direita ul.direita > li::after
{
    transform: rotate(-125deg);
    right: 60%;
}

span.valor{
    background: #ddd;
    display: block;
    width: 2em;
    height: 2em;
    line-height: 2em;
    border-radius: 100%;
    text-align: center;
    font-size: 1em;
    border: 1px solid #999;
}